<div class="weather-card">
   <h2 class="city-name">{{name}}<span class="country-code">{{data.sys.country}}</span></h2>
   <p>ICON</p>
   <div class="weather-data">
      <p class="weather-data-temp">some data</p>
      <p class="weather-data-temp">some data</p>
      <p class="weather-data-temp">some data</p>
   </div>
</div>