<h1>Give me today's weather in...</h1>

<form action="/" method="POST">
   <input type="text" value="Search a city">
   <button type="submit" value="submit">GO!</button>
</form>

{{#if err}}
<div class="weather-card weather-card-err">
   <h2>OOPS!</h2>
   <p>ICON</p>
   <p>We can't find that location, please try again.</p>
</div>
{{/if}}
{{#if listExists}}
<div class="weather-card">
   <h2 class="city-name">{{city}}<span class="country-code">{{country}}</span></h2>
   <p>ICON</p>
   <div class="weather-data">
      {{#each data}}
      <p class="weather-data-temp">{{this}}</p>
      {{/each}}
   </div>
</div>
{{/if}}